<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="classes"
          name="C:/Users/mkmoh/IdeaProjects/java/src/main/java/org/example/OnlineClass/datadrivenframe.java">
        <classes>
            <class name="org.example.OnlineClass.datadrivenframe">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>